data/raw/.DS_Store
data/raw/Chime/.DS_Store
data/raw/Chime/Checking/.DS_Store
data/raw/Chime/Checking/2022/.DS_Store
data/raw/Chime/Checking/2022/Summary/tabula-2022-09.csv
data/raw/Chime/Checking/2022/Summary/tabula-2022-10.csv
data/raw/Chime/Checking/2022/Summary/tabula-2022-11.csv
data/raw/Chime/Checking/2022/Summary/tabula-2022-12.csv
data/raw/Chime/Checking/2022/Transactions/tabula-2022-09.csv
data/raw/Chime/Checking/2022/Transactions/tabula-2022-10.csv
data/raw/Chime/Checking/2022/Transactions/tabula-2022-11.csv
data/raw/Chime/Checking/2022/Transactions/tabula-2022-12.csv
data/raw/Chime/Checking/2023/.DS_Store
data/raw/Chime/Checking/2023/Summary/tabula-2023-01.csv
data/raw/Chime/Checking/2023/Summary/tabula-2023-02.csv
data/raw/Chime/Checking/2023/Summary/tabula-2023-03.csv
data/raw/Chime/Checking/2023/Transactions/tabula-2023-01.csv
data/raw/Chime/Checking/2023/Transactions/tabula-2023-02.csv
data/raw/Chime/Checking/2023/Transactions/tabula-2023-03.csv
data/raw/Chime/Credit Builder Card/.DS_Store
data/raw/Chime/Credit Builder Card/2022/.DS_Store
data/raw/Chime/Credit Builder Card/2022/Summary/.DS_Store
data/raw/Chime/Credit Builder Card/2022/Summary/tabula-2022-10.csv
data/raw/Chime/Credit Builder Card/2022/Summary/tabula-2022-11.csv
data/raw/Chime/Credit Builder Card/2022/Summary/tabula-2022-12.csv
data/raw/Chime/Credit Builder Card/2022/Transactions/.DS_Store
data/raw/Chime/Credit Builder Card/2022/Transactions/tabula-2022-11.csv
data/raw/Chime/Credit Builder Card/2022/Transactions/tabula-2022-12.csv
data/raw/Chime/Credit Builder Card/2023/.DS_Store
data/raw/Chime/Credit Builder Card/2023/Summary/.DS_Store
data/raw/Chime/Credit Builder Card/2023/Summary/tabula-2023-01.csv
data/raw/Chime/Credit Builder Card/2023/Summary/tabula-2023-02.csv
data/raw/Chime/Credit Builder Card/2023/Transactions/.DS_Store
data/raw/Chime/Credit Builder Card/2023/Transactions/tabula-2023-01.csv
data/raw/Chime/Credit Builder Card/2023/Transactions/tabula-2023-02.csv
data/raw/Chime/Credit Builder Secured/.DS_Store
data/raw/Chime/Credit Builder Secured/2022/.DS_Store
data/raw/Chime/Credit Builder Secured/2022/Summary/.DS_Store
data/raw/Chime/Credit Builder Secured/2022/Summary/tabula-2022-10.csv
data/raw/Chime/Credit Builder Secured/2022/Summary/tabula-2022-11.csv
data/raw/Chime/Credit Builder Secured/2022/Summary/tabula-2022-12.csv
data/raw/Chime/Credit Builder Secured/2022/Transactions/tabula-2022-11.csv
data/raw/Chime/Credit Builder Secured/2022/Transactions/tabula-2022-12.csv
data/raw/Chime/Credit Builder Secured/2023/.DS_Store
data/raw/Chime/Credit Builder Secured/2023/Summary/.DS_Store
data/raw/Chime/Credit Builder Secured/2023/Summary/tabula-2023-01.csv
data/raw/Chime/Credit Builder Secured/2023/Summary/tabula-2023-02.csv
data/raw/Chime/Credit Builder Secured/2023/Summary/tabula-2023-03.csv
data/raw/Chime/Credit Builder Secured/2023/Transactions/tabula-2023-01.csv
data/raw/Chime/Credit Builder Secured/2023/Transactions/tabula-2023-02.csv
data/raw/Chime/Credit Builder Secured/2023/Transactions/tabula-2023-03.csv
data/raw/NFCU/.DS_Store
data/raw/NFCU/Checking/.DS_Store
data/raw/NFCU/Checking/2021/.DS_Store
data/raw/NFCU/Checking/2021/Summary/.DS_Store
data/raw/NFCU/Checking/2021/Summary/tabula-2021-09-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Summary/tabula-2021-10-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Summary/tabula-2021-11-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Summary/tabula-2021-12-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Transactions/tabula-2021-09-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Transactions/tabula-2021-10-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Transactions/tabula-2021-11-24_STMSSCM.csv
data/raw/NFCU/Checking/2021/Transactions/tabula-2021-12-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/.DS_Store
data/raw/NFCU/Checking/2022/Summary/.DS_Store
data/raw/NFCU/Checking/2022/Summary/tabula-2022-01-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-02-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-03-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-04-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-05-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-06-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-07-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-08-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-09-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-10-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-11-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Summary/tabula-2022-12-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-01-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-02-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-03-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-04-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-05-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-06-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-07-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-08-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-09-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-10-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-11-24_STMSSCM.csv
data/raw/NFCU/Checking/2022/Transactions/tabula-2022-12-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/.DS_Store
data/raw/NFCU/Checking/2023/Summary/tabula-2023-01-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Summary/tabula-2023-02-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Summary/tabula-2023-03-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Summary/tabula-2023-04-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Transactions/tabula-2023-01-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Transactions/tabula-2023-02-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Transactions/tabula-2023-03-24_STMSSCM.csv
data/raw/NFCU/Checking/2023/Transactions/tabula-2023-04-24_STMSSCM.csv
data/raw/NFCU/Credit/.DS_Store
data/raw/NFCU/Credit/2021/.DS_Store
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-04-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-05-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-06-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-07-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-08-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-09-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-10-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-11-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Payments And Credits/tabula-2021-12-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/.DS_Store
data/raw/NFCU/Credit/2021/Summary/tabula-2021-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-04-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-05-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-06-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-07-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-08-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-09-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-10-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-11-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Summary/tabula-2021-12-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-04-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-05-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-06-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-07-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-08-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-09-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-10-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-11-15_VISASTMT.csv
data/raw/NFCU/Credit/2021/Transactions/tabula-2021-12-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/.DS_Store
data/raw/NFCU/Credit/2022/Payments And Credits/.DS_Store
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-04-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-05-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-06-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-07-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-08-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-09-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-10-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Payments And Credits/tabula-2022-11-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-04-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-05-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-06-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-07-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-08-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-09-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-10-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-11-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Summary/tabula-2022-12-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-04-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-05-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-06-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-07-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-08-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-10-15_VISASTMT.csv
data/raw/NFCU/Credit/2022/Transactions/tabula-2022-11-15_VISASTMT.csv
data/raw/NFCU/Credit/2023/.DS_Store
data/raw/NFCU/Credit/2023/Payments And Credits/tabula-2023-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2023/Payments And Credits/tabula-2023-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2023/Payments And Credits/tabula-2023-03-15_VISASTMT.csv
data/raw/NFCU/Credit/2023/Summary/tabula-2023-01-15_VISASTMT.csv
data/raw/NFCU/Credit/2023/Summary/tabula-2023-02-15_VISASTMT.csv
data/raw/NFCU/Credit/2023/Summary/tabula-2023-03-15_VISASTMT.csv
data/raw/NFCU/Navcheck/.DS_Store
data/raw/NFCU/Navcheck/2021/.DS_Store
data/raw/NFCU/Navcheck/2021/Summary/tabula-2021-09-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Summary/tabula-2021-10-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Summary/tabula-2021-11-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Summary/tabula-2021-12-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Transactions/tabula-2021-09-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Transactions/tabula-2021-10-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Transactions/tabula-2021-11-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2021/Transactions/tabula-2021-12-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/.DS_Store
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-01-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-02-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-03-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-04-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-05-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-06-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-07-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-08-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-09-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-10-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-11-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Summary/tabula-2022-12-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-01-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-02-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-03-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-04-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-05-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-06-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-07-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-08-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-09-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-10-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-11-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2022/Transactions/tabula-2022-12-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/.DS_Store
data/raw/NFCU/Navcheck/2023/Summary/tabula-2023-01-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Summary/tabula-2023-02-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Summary/tabula-2023-03-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Summary/tabula-2023-04-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Transactions/tabula-2023-01-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Transactions/tabula-2023-02-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Transactions/tabula-2023-03-24_STMSSCM.csv
data/raw/NFCU/Navcheck/2023/Transactions/tabula-2023-04-24_STMSSCM.csv
data/raw/NFCU/Savings/.DS_Store
data/raw/NFCU/Savings/2021/.DS_Store
data/raw/NFCU/Savings/2021/Summary/.DS_Store
data/raw/NFCU/Savings/2021/Summary/tabula-2021-09-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Summary/tabula-2021-10-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Summary/tabula-2021-11-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Summary/tabula-2021-12-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Transactions/tabula-2021-09-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Transactions/tabula-2021-10-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Transactions/tabula-2021-11-24_STMSSCM.csv
data/raw/NFCU/Savings/2021/Transactions/tabula-2021-12-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/.DS_Store
data/raw/NFCU/Savings/2022/Summary/tabula-2022-01-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-02-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-03-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-04-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-05-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-06-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-07-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-08-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-09-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-10-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-11-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Summary/tabula-2022-12-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-01-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-02-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-03-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-04-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-05-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-06-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-07-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-08-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-09-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-10-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-11-24_STMSSCM.csv
data/raw/NFCU/Savings/2022/Transactions/tabula-2022-12-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/.DS_Store
data/raw/NFCU/Savings/2023/Summary/tabula-2023-01-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Summary/tabula-2023-02-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Summary/tabula-2023-03-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Summary/tabula-2023-04-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Transactions/tabula-2023-01-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Transactions/tabula-2023-02-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Transactions/tabula-2023-03-24_STMSSCM.csv
data/raw/NFCU/Savings/2023/Transactions/tabula-2023-04-24_STMSSCM.csv
.DS_Store
test.py
todo.txt
src/globals/__pycache__/__init__.cpython-313.pyc
src/globals/__pycache__/functions.cpython-313.pyc
src/globals/__pycache__/variables.cpython-313.pyc
src/etl/transform/__pycache__/__init__.cpython-313.pyc
src/etl/transform/__pycache__/transform.cpython-313.pyc
src/etl/__pycache__/__init__.cpython-313.pyc
src/etl/load/__pycache__/__init__.cpython-313.pyc
src/etl/load/__pycache__/load.cpython-313.pyc
src/etl/extract/__pycache__/__init__.cpython-313.pyc
src/etl/extract/__pycache__/extract.cpython-313.pyc
